$theams: (
    light:(textColor: #000,
        bg: white,
        logo: darkblue,
        bgSoft: #f6f3f3,
        textColorsoft: #555,
        border: lightgrey,
    ),
    dark:(textColor: whitesmoke,
        bg: #222,
        logo: #ffff,
        bgSoft: #333,
        textColorsoft: lightgrey,
        border: #444,
    )
);


@mixin mobile {
    @media (max-width: 480px) {
        @content;
    }
}


@mixin tablet {
    @media (max-width: 960px) {
        @content;
    }
}